body{
    background-color: aquamarine
    /* front-family:bbh sans;
    front: size 50px
     */
}
header{
    front-size:50px;
    text-align:center;
}
.top1{
    background-color: blueviolet
    
}